<div class="main">
    <div class="area">
        <h1>{{ title1 }} <br> {{ title2 }}</h1>
        <h3>{{ title3 }}</h3>
    </div>
</div>

<div class="container1">
    <div class="contain">
        <div id="owl-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <h3 style="color: aliceblue;">Kung fu Panda 4</h3>
                <img src="img/1kunfu.jpg">                
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Spitfire sobre Berlin</h3>
                <img src="img/2spitfireberlin.jpg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Garfiel: fuera de casa</h3>
                <img src="img/3garfiel.jpg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Señora web</h3>
                <img src="img/4señora web.jpg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Migracion un viaje patas arribas</h3>
                <img src="img/5migracionpatos.jpg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">El Rey Leon</h3>
                <img src="img/6reyleon.jpg">
            </div>
        </div>
    </div>
</div>

<div class="container1">
    <div class="image">
        <img src="{{pelicula_top}}">
    </div>
    <div class="text">
        <h1>{{title_pelicula_top}}
        </h1>
        <p>
            {{sub_pelicula_top}}
        </p>
    </div>
</div>

<div class="footer">
    <div class="footercon">
        <div class="flex1">
            <h5>Derechos reservados
            </h5>
        </div>
    </div>
</div>