<div class="main">
    <div class="area">
        <h1>{{ title1 }} <br> {{ title2 }}</h1>
        <h3>{{ title3 }}</h3>
    </div>
</div>

<div class="container1">
    <div class="contain">
        <div id="owl-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">                
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Serie 1</h3>
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
        </div>
    </div>
</div>

<div class="container1">
    <div class="image">
        <img src="{{serie_top}}">
    </div>

    <div class="text">
        <h1>{{title_serie_top}}
        </h1>
        <p>
            {{sub_title_top}}
        </p>
    </div>
</div>

<div class="footer">
    <div class="footercon">
        <div class="flex1">
            <h5>Derechos reservados
            </h5>
        </div>
    </div>
</div>