<div class="main">
    <div class="area">
        <h1>{{ title1 }} <br> {{ title2 }}</h1>
        <h3>{{ title3 }}</h3>
    </div>
</div>

<div class="container1">
    <div class="contain">
        <div id="owl-carousel" class="owl-carousel owl-theme">
            <div class="item">
                <h3 style="color: aliceblue;">Noche Polar</h3>
                <img src="img2/1nochepolar.jpeg">                
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Mr. & Mrs. Smith</h3>
                <img src="img2/2mr&mrs.jpeg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Tragones y mazmorras</h3>
                <img src="img2/3tragones.jpeg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Mi reno de peluche</h3>
                <img src="img2/4renopeluche.jpeg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Fargo</h3>
                <img src="img2/5fargo.jpeg">
            </div>
            <div class="item">
                <h3 style="color: aliceblue;">Los amos del aire</h3>
                <img src="img2/6Losamordelaire.jpeg">
            </div>
        </div>
    </div>
</div>

<div class="container1">
    <div class="image">
        <img src="{{serie_top}}">
    </div>

    <div class="text">
        <h1>{{title_serie_top}}
        </h1>
        <p>
            {{sub_title_top}}
        </p>
    </div>
</div>

<div class="footer">
    <div class="footercon">
        <div class="flex1">
            <h5>Derechos reservados
            </h5>
        </div>
    </div>
</div>