<div class="main">
    <div class="area">
        <h1>Películas, programas de televisión <br>
            y mucho más ilimitados.</h1>
        <h3>Míralo en cualquier lugar. Cancela en cualquier momento.
        </h3>



        <!-- <div class="search">
            <input type="text" class="box" placeholder="Email">
            <span class="try">
                Try 30 days free <i class="fas fa-chevron-right"></i>
            </span>
        </div>
        <h4>Ready to watch? Enter your email to create or access your account
        </h4> -->
    </div>
</div>


<div class="container1">

    <div class="image">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile.png">
    </div>
    <div class="text">
        <h1>Descarga tus programas para verlos sobre la marcha.
        </h1>
        <p>
            Guarde sus datos y vea todos sus favoritos sin conexión.
        </p>
    </div>

</div>

<div class="container1">
    <div class="text">
        <h1>
            Mira en todas partes.
            <!-- Watch everywhere. -->

        </h1>
        <p>
            Transmita películas y programas de TV ilimitados en <br>
            su teléfono, tableta, computadora portátil y <br> TV sin pagar más.
        </p>
    </div>
    <div class="image">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png">
    </div>
</div>

<div class="question">
    <h1>
        Preguntas frecuentes
    </h1>
    <div class="quest">
        <div class="textbox">¿Qué es Netflix?</div>
        <i class="las la-plus"></i>
    </div>
    <div class="quest">
        <div class="textbox">¿Cuánto cuesta Netflix?</div>
        <i class="las la-plus"></i>
    </div>
    <div class="quest">
        <div class="textbox">¿Dónde puedo verlo?</div>
        <i class="las la-plus"></i>
    </div>
    <div class="quest">
        <div class="textbox">¿Cómo cancelo?</div>
        <i class="las la-plus"></i>
    </div>
    <div class="quest">
        <div class="textbox">¿Qué puedo ver en Netflix?</div>
        <i class="las la-plus"></i>
    </div>
    <br>
</div>

<div class="footer">
    <div class="footercon">
        <div class="flex1">
            <h5>Derechos reservados
            </h5>
        </div>
    </div>
</div>
